<div class="well">
    <form name="form" crud-edit="venue">
        <legend>Venue</legend>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="venue.name" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="10" cols="10" ng-model="venue.description" class="form-control">
                    </textarea>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Event{{venue.events.length !== 1 ? 's' : ''}}</a>
                    <a href="#" class="list-group-item" ng-repeat="event in venue.events">{{event.name}}</a>
                    <a href="#" ng-if="!venue.events.length" class="list-group-item">None</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <hr>
            <crud-buttons class="span12"></crud-buttons>
        </div>
    </form>
</div>