<div class="well">
    <form name="form" crud-edit="venue">
        <legend>Venue</legend>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="venue.name" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="10" cols="10" ng-model="venue.description" class="form-control">
                    </textarea>
                </div>
            </div>
            <div class="col-xs-6" crud-linked-items label="Events" parent="venue" children="venue.events">
            </div>
        </div>
        <div class="row-fluid">
            <hr>
            <crud-buttons class="span12"></crud-buttons>
        </div>
    </form>
</div>